doctype html
head
  title Healthcard
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

  // fonts
  link(href='//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet')
  // //fonts
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  style
    include ../public/style/doctorSignInDone.css
    include ../public/style/dcard.css
    include ../public/style/navbar.css
br
body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#')
      i#heartbeaticon.fa.fa-heartbeat.icon
      |  Smart Health Card
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/patient/information')
            | Profile 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/patient/myappoint') My Appoint
        li.nav-item
          a.nav-link(href='/contact') Contact us
        li.nav-item
          a.nav-link(href='/') Log Out
      li#usrname
        i.usericon.fa.fa-user.icon
        |#{record.firstname} #{record.lastname}
  br
  br
  br
  br
.container
  .padding
    .font
      .top
        //- var path = #{record.profile}
        //- var profile = #{JSON.stringify(path)}
        img(src=imgp)
      .bottom
        p #{record.firstname} #{record.lastname}
        p.desi  
        .barcode
          img(src='../pictures/qr.png')
        br
        p.no +91 #{record.mobileno}
        //- p.no part-1,89 harinadad d...sdv..sdf..sfd..sd.
  .back
    h1.Details information
    hr.hr
    .details-info
      p
        b Email : 
      p #{record.email}
      br
      p
        b Mobile No: 
      p #{record.mobileno}
      br
      p
        b Address:
      p #{record.address}
    hr